<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Display Settings</h3>
  </div>
  <div class="modal-body">
    <label class="radio" style="font-family:monospace">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Monospace
    </label>
    <label class="radio" style="font-family:Inconsolata">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Inconsolata
    </label>
    <label class="radio" style="font-family:'Source Code Pro'">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Source Code Pro
    </label>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
