{% extends "shellbase.html" %}
{% block head %}
    {{ super() }}

    <script>
      {% if config.DEV %}
      var websock_url = 'http://dev.teaminal.net:80/';
      {% else %}
      var websock_url = 'http://teaminal.net:80/';
      {% endif %}
      $(document).ready(function(){
        socket = io.connect(websock_url);
        socket.send(JSON.stringify({sid:{{session|tojson|safe}}}));
        socket.on("message", function(data){
            var uintarray = Base64Binary.decode(data)
            feedAll(strm, uintarray);
            br_screen.clear()
            br_screen.canvasDisplay()
        });

        $(document).keypress(function(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            console.log(code);
            if(code == 13){
              socket.send('\n');
            }else if(code == 9){
              console.log("tab press");
              socket.send('\t');
            }else if(code == 8){
              socket.send('\b');
              return false;
            }else{
              socket.send(String.fromCharCode(e.charCode));
            }
            console.log("keycode", e);
            e.preventDefault();
         }).keydown(function(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code == 8){
              socket.send('\b');
              return false;
            }
            if(code == 9){
              console.log("tab down");
              socket.send('\t');
              return false;
            }
            if(code == 27){
              socket.send('\x1b');
              return false;
            }
         });

      });

    </script>
{% endblock %}

