{% extends "shellbase.html" %}
{% block head %}
    {{ super() }}

    <script>
      $(document).ready(function(){
          screen.debugMode = true
          strm.setDebugMode(true, true)
          br_screen.setFont('Monospace');
          stepperIndex = 0
          binaryData = null;
          $('#run').click(function(){
              strm.feed(binaryData.subarray(stepperIndex))
              stepperIndex = binaryData.length
              br_screen.clear()
              br_screen.canvasDisplay()
              $('#stepposition').text(stepperIndex + " / " + binaryData.length);
          });
          $('#reset').click(function(){
              setupTerminal()
              stepperIndex = 0
          });
          $('#jump').click(function(){
              var newPos = parseInt($('#jumppos').val());
              strm.feed(binaryData.subarray(stepperIndex, newPos))
              stepperIndex = newPos
              br_screen.clear()
              br_screen.canvasDisplay()
              $('#stepposition').text(stepperIndex + " / " + binaryData.length);
          });


          $('#step').click(function(){
              stepAmt = parseInt($('#stepamount').val()) 
              var stopAt = stepperIndex + stepAmt

              strm.feed(binaryData.subarray(stepperIndex, stopAt))
              stepperIndex = stopAt
              $('#stepposition').text(stepperIndex + " / " + binaryData.length);
              br_screen.clear()
              br_screen.canvasDisplay()
          })
          $('#filepicker').change(function(){
              $.get('/static/testfiles/' + $('#filepicker').val(), function(data){
                  $('#testinput').val(data)
                  binaryData = Base64Binary.decode($('#testinput').val())
              })
          });
      });
    </script>
{% endblock %}

{% block content %}
    {{super()}}
    <div style="position:absolute; right:0px; top:50px"> <select name="filepicker" id="filepicker">
            {% for f in  files %}
                <option value="{{f}}">{{f}}</option>
            {% endfor %}
        </select>
        <textarea id="testinput" disabled>
        </textarea>
        <button id="run">run</button>
        <button id="step">step</button>
        <button id="reset">reset</button>
        <div>
            <input type="text" id="stepamount" value="1"></input>
            <input type="text" id="jumppos"></input>
            <button id="jump">jump to</button>
        </div>

        <div id="stepposition"></div>
    </div>
{%endblock%}

